/* =====================
  General
======================== */

:root {
  /* body and title fonts */
  --body: 'Hind', 'Inter', 'Helvetica Neue', 'Helvetica', sans-serif;
  --title: 'Montserrat', 'Inter', 'Helvetica Neue', 'Helvetica', sans-serif;

  /* font size */
  --body-font-size: 16px;
  
  /* primary colours */
  --off-white-a: #F2F4FB;
  --off-black: #121A45;
  --cody-blue: #7582CB;

  /* secondary colours */
  --off-blue-a: #E0E4F7;
  --off-blue-b: #919cd8; /* used for secondary buttons on blue backgrounds */
  --grey-c: #C4C6D5;
  --grey-d: #51535d;

  /* current overlay colour */
  --current-overlay-colour: rgba(153, 205, 50, 0); 
}

* {
  padding: 0;
  margin: 0;
  text-decoration-line: none;
  box-sizing: border-box;
}

body {
  background-color: var(--current-overlay-colour); 
  overflow-y: hidden;
}

/*changes highlight colour*/
::selection {
  background: var(--off-black); /* WebKit/Blink Browsers */
  color: var(--off-white-a);
}

::-moz-selection {
  background: var(--off-black); /* Gecko Browsers */
  color: var(--off-white-a);
}

/* set default font styling for text elements */
h1, h2, h3, h4, h5, h6, p, li, a, input, label, textarea, select, option, button, address, small {
  font-family: var(--body);
  font-style: normal;
  font-weight: 400;
  font-size: var(--body-font-size);
  color: var(--off-white-a);
}

/* set default font styling for elements that should have the title font as default */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--title);
}

/* set line height */
/* h1, h2, h3, h4, h5, h6, p, li, a, label, textarea, select, option, address, small {
  line-height: 140%; /* optimal line height for this typeface */
/* } */

/* set font styling for individual heading levels and other text elements */

h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 25px;
  font-weight: 600;
}

h3 {
  font-size: 22px;
  font-weight: 600;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: var(--body-font-size);
}

p strong {
  font-weight: 500;
}

a {
  font-weight: 500;
}

span {
  font-family: inherit;
  font-style: inherit;
  color: inherit;
  line-height: inherit;
}

small {
  font-size: 14px;
}

/* remove default outline from buttons, input, etc. */

input, select, textarea, a, button {
  outline: none;
}

button:focus, a:focus, input:focus, button:active, a:active, input:active {
  outline: none;
}

/* ... instead, add a custom outline on "focus-visible" state only (this applies only when the user uses the 'tab' button to navigate) */
a:focus-visible, button:focus-visible {
  outline: auto;
  outline-color: var(--cody-blue);
  outline-style: double;
  outline-width: 6px;
}

/* remove any text-decoration from anchor links. Important tag is used as in the past, older browsers have ignored the rule. */

a {
  text-decoration: none !important;
}

a:-webkit-any-link {
  text-decoration: none !important;
}

a:-moz-any-link {
  text-decoration: none !important;
}

a:link, a:active, a:any-link, a:visited, a:focus, a:hover, a:active {
  text-decoration: none !important;
}

/* remove default styling from buttons (and add custom styling) */

button {
  color: unset;
  background-color: unset;
  /* font: unset; */
  border: none;
  box-sizing: inherit;
  align-items: unset;

  font-family: var(--body);
}

button:hover {
  cursor: pointer;
}

button:active {
  border: none;
}

/* remove default styling from inputs (and add custom styling) */

input {
  border: none;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 15px 20px;
  background-color: transparent;
  color: var(--off-black);
  font-family: var(--body);
}

input::placeholder {
  color: var(--grey-c);
  font-size: var(--body-font-size);
  font-family: var(--body);
  font-weight: 400;
}

input::-webkit-search-decoration {
  -webkit-appearance: none;
}

input::-webkit-search-cancel-button{
  -webkit-appearance: none;
}

/* standardise form placeholder text */

::-moz-placeholder { /* Firefox 19+ */
  opacity: 1;
}
:-ms-input-placeholder { /* IE 10+ */
  opacity: 1;
}
::-ms-input-placeholder { /* Microsoft Edge */
  opacity: 1;
}
:-moz-placeholder { /* Firefox 18- */
  opacity: 1;
}
::placeholder { /* Most modern browsers */
  opacity: 1;
}

.grey-text {
  color: var(--grey-d);
}

/* icons */
.icon {
  width: 22px;
  height: 22px;
  position: relative;
  fill: var(--off-white-a) !important;
}

/* default class to hide something */

.hidden {
  opacity: 0;
  pointer-events: none;
}

/* standard button design */

.standard-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  border-radius: 10px;
  border: 2px solid transparent;
  background-color: var(--off-white-a);
  width: 100%;
  transition: background-color .2s;
  color: var(--cody-blue);
  font-weight: 500;
}

.standard-button:hover, .standard-button:active {
  background-color: var(--off-blue-a);
  border: 2px solid transparent;
}

.standard-button.align-center-button {
  display: flex;
  align-items: center;
}

/* view UI button */

.view-ui-button-wrap {
  border-radius: 10px;
  background-color: var(--cody-blue);
  padding: 5px;
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
}

.view-ui-button, .close-app-button {
  border-radius: 10px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-ui-button .icon, .close-app-button .icon {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.close-app-button .icon {
  width: 32px;
  height: 32px;
}



/* ================ */
/* MAIN MENU SCREEN (other screens derive from this class) */
/* ================ */

.menu {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  padding: 25px;
  background-color: var(--cody-blue);
  border-radius: 10px;
  color: var(--off-white-a);
  width: 321px;
}

.menu .icon {
  margin-left: 10px;
}

.menu .menu-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.menu .menu-heading .buttons-wrap {
  display: flex;
  align-items: center;
}

.menu .menu-heading .buttons-wrap button:first-child {
  margin-right: 8px;
}

.menu .menu-heading .buttons-wrap button {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu .menu-heading .buttons-wrap button .icon {
  width: 22px;
  height: 22px;
}

.menu .menu-heading .main-title {
  font-size: 18px;
}

.menu .saved-slots .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu .saved-slots .top .title {
  font-size: var(--body-font-size);
}

.menu .saved-slots .top .new-preset-button {
  display: flex;
  padding: 4px;
  align-items: center;
  justify-self: center;
}

.menu .saved-slots .top .new-preset-button .icon {
  width: 22px;
  height: 22px;
}

.menu .saved-slots-list-wrap .saved-slots-list {
  margin-top: 10px;
  max-height: 250px;
  overflow-y: scroll;
}

.menu .saved-slots-list-wrap .saved-slots-list .list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.menu .saved-slots-list-wrap .list-item .number {
  margin-right: 10px;
}

.menu .saved-slots-list-wrap .list-item .name:active, .menu .saved-slots-list-wrap .list-item .name:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--off-white-a);
}

.menu .saved-slots-list-wrap .list-item .text-check-wrap {
  display: flex;
  align-items: center;
}

.menu .saved-slots-list-wrap .list-item .checkmark-button {
  padding: 4px;
  display: flex;
  opacity: 0.5;
  transition: opacity .2s;
  margin-right: 5px;
}

.menu .saved-slots-list-wrap .list-item .checkmark-button .icon {
  width: 22px;
  height: 22px;
  transition: opacity .2s;
  display: flex;
}

  .menu .saved-slots-list-wrap .list-item .checkmark-button:hover, .menu .saved-slots-list-wrap .list-item .checkmark-button:focus-visible {
    opacity: 1;
  }

  .menu .saved-slots-list-wrap .list-item.selected .checkmark-button {
    opacity: 1;
  }

  .menu .saved-slots-list-wrap .list-item .checkmark-button .icon.filled-circle {
    display: none;
  }

  .menu .saved-slots-list-wrap .list-item.selected .checkmark-button .icon.filled-circle {
    display: flex;
  }

  .menu .saved-slots-list-wrap .list-item.selected .checkmark-button .icon.empty-circle {
    display: none;
  }

.menu .saved-slots-list-wrap .add-button {
  padding: 10px 5px;
  margin-top: 10px;
  width: 100%;
}

.menu .saved-slots-list .edit-button {
  display: flex;
  padding: 4px;
}

.menu .magnify-wrap {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.menu .magnify-wrap .magnify-text-button {
  transition: all .2s;
  background-color: var(--off-blue-b);
  color: var(--off-white-a);
}

.menu .magnify-wrap .magnify-text-button.active {
  background-color: var(--cody-blue);
  border: 2px solid var(--off-white-a);
  color: var(--off-white);
}

.menu .magnify-wrap .icon {
  margin-left: 6px;
  fill: var(--off-white-a) !important;
  transition: fill .2s;
}

  .menu .magnify-wrap .magnify-text-button.active .icon {
    fill: var(--off-white-a) !important;
  }



/* ================ */
/* SETTINGS SCREEN */
/* ================ */

.settings {
  width: 321px;
}

.settings .menu-heading {
  margin-bottom: 10px;
}

.settings .menu-heading .main-title {
  text-align: right;
  width: 100%;
  font-size: var(--body-font-size);
  font-weight: 600;
}

.settings .menu-heading .back-button {
  display: flex;
}

.settings .main-content {
  overflow-y: scroll;
  max-height: 539px;
}

.menu .icon {
  margin-left: 0;
}

.settings .standard-button:not(:last-child) {
  margin-bottom: 10px;
}

.settings .standard-button {
  display: flex;
  align-items: center;
}

.settings .standard-button .external-link-icon {
  fill: var(--cody-blue) !important;
  margin-left: 4px;
  width: 20px;
  height: 20px;
  padding-bottom: 2px;
}

.settings .expanded-settings {
  background-color: var(--off-white-a);
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
}

.settings .expanded-settings p:not(.grey-text) {
  color: var(--cody-blue);
}

.settings h2 {
  font-size: var(--body-font-size);
  font-weight: 600;
  color: var(--off-black);
  padding-bottom: 4px;
  text-align: center;
}

.settings .description {
  margin-top: 2px;
  margin-bottom: 6px;
}

.settings .picker-wrap:not(.picker-wrap-c) {
  margin-bottom: 5px;
}

.settings .selector-wrap {
  margin-bottom: 10px;
}

.settings .app-typography p:not(.description) {
  margin-bottom: 3px;
}

.settings .reset-to-default-button, .settings .view-colour-palettes {
  background-color: var(--off-blue-a);
  margin-top: 10px;
  margin-bottom: 0;
}

.settings select {
  padding: 2px 5px;
  border-radius: 10px;
  border: 1px solid var(--grey-c);
  color: var(--off-black);
  width: 100%;
}

.settings select option {
  color: var(--off-black);
}



/* ================ */
/* EDIT SCREEN */
/* ================ */

.edit-view {
  width: 321px;
}

.edit-view .back-button {
  display: flex;
}

.edit-view .menu-heading {
  margin-bottom: 10px;
}

.edit-view .menu-heading .title {
  font-size: var(--body-font-size);
  margin-left: 20px;
}

.edit-view .top {
  display: flex;
  flex-direction: column;
}

.edit-view .colour-picker {
  position: relative;
  background-color: var(--off-white-a);
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  min-width: 150px;
}

.picker-wrap {
  width: 100%;
  position: relative;
}

.picker-wrap .icon {
  position: absolute;
  right: 15px;
  top: 15px;
  fill: var(--off-black) !important;
  width: 20px;
  height: auto;
}

.picker-wrap .picker { /* styling for any picker */
  padding: 0;
  background-color: unset;
  color: unset;
  border-radius: 10px;
  width: 100%;
  height: 50px;
  background-color: var(--off-white-a);
}

.edit-view .colour-picker-label {
  color: var(--off-black);
  font-weight: 600;
  text-align: center;
  margin-bottom: 4px;
}

.edit-view .colour-picker-below-label {
  margin-bottom: 6px;
}

.edit-view .opacity-wrap {
  display: flex;
  flex-direction: column;
  margin-top: 6px;
}

.edit-view .opacity-wrap input {
  -webkit-appearance: auto;
  padding: unset;
  padding: 4px 0;
}

.edit-view .bottom {
  display: flex;
  margin-top: 10px;
}

.edit-view .options {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px; 
}

.edit-view .options .row {
  display: flex;
  align-items: center;
  width: 100%;
}

.edit-view .options .standard-button {
  width: 100%;
  margin-right: 10px;
  margin-top: 10px;
}

.edit-view .options .standard-button.save-button {
  width: 100%;
  margin-right: 0;
  margin-top: 0;
}

.edit-view .options .row-2 > * {
  background-color: var(--cody-blue);
  border: 2px solid var(--off-white-a);
  color: var(--off-white);
  transition: .2s;
}

.edit-view .options .row-2 > *:hover, .edit-view .options .row-2 > *:active {
  background-color: #f2f4fb1d;
}

.edit-view .options .standard-button:nth-child(even) {
  margin-right: 0;
}

.edit-view .presets-list {
  background-color: var(--off-white-a);
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.edit-view .presets-list select, .edit-view .presets-list option {
  color: var(--off-black);
}

.edit-view .presets-list .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 4px;
}

.edit-view .presets-list .sub-parts {
  display: flex;
  flex-direction: column;
}

.edit-view .presets-list .filter, .edit-view .presets-list .presets {
  display: flex;
  flex-direction: column;
}

.edit-view .presets-list .filter {
  margin-bottom: 10px;
}

.edit-view .presets-list select, .edit-view .presets-list .presets-list-title {
  color: var(--off-black);
}

.edit-view .presets-list .presets-list-title {
  font-weight: 600;
}

.edit-view .presets-list select {
  padding: 2px 5px;
  border-radius: 10px;
  border: 1px solid var(--grey-c);
}

/* preview screen */

.preview-wrap {
  width: 500px;
  height: 379px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  background-color: var(--cody-blue);
  padding: 25px;
  border-radius: 10px;
}

  .preview-wrap.hidden {
    display: none;
  }

.preview-wrap .images-wrap {
  position: relative;
  height: 100%;
  width: 100%;
}

.preview-wrap .image {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.preview-wrap .preview-overlay {
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff00f178;
}

.preview-wrap .controls {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 10px;
}

.preview-wrap .controls > * {
  border: 2px solid var(--off-white-a);
  border-radius: 10px;
  padding: 8px;
  display: flex;
  transition: all .2s;
}

  .preview-wrap .controls > *.disabled {
    opacity: .4;
    pointer-events: none;
  }

.preview-wrap .controls > *:hover, .preview-wrap .controls > *:active {
  background-color: #f2f4fb1d;
}



/* ================ */
/* magnify functionality */
/* ================ */

#magnifier {
  position: fixed;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid black;
  pointer-events: none;
  z-index: 9999;
}

#magnifier.hidden {
  display: none;
}

canvas {
  width: 250px;
  height: 250px;
}



/* ================ */
/* INTRO OVERLAY */
/* ================ */

.intro-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .intro-overlay.hidden {
    display: none;
  }

.intro-overlay .slides-wrap {
  background-color: var(--cody-blue);
  border-radius: 10px;
  position: relative;
  width: 750px;
  height: 600px;
}

.intro-overlay .slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 50px;
}

.intro-overlay .slide:first-child {
  padding: 0;
  justify-content: flex-start;
}

.intro-overlay select {
  padding: 2px 5px;
  border-radius: 10px;
  border: 1px solid var(--grey-c);
  color: var(--cody-blue);
  margin-bottom: 10px;
  width: 300px;
  text-align: center;
}

.intro-overlay select option {
  color: var(--off-black);
}

.intro-overlay .slide h1, .intro-overlay .slide p {
  margin-bottom: 10px;
  max-width: 500px;
  text-align: center;
}

.intro-overlay .slide p.slide-description {
  margin-bottom: 0;
}

.intro-overlay .slide p.description-with-bottom-margin {
  margin-bottom: 20px;
}

.intro-overlay .slide h1 {
  max-width: 410px;
}

.intro-overlay .slide .grey-text {
  color: var(--off-white-a);
  margin-bottom: 5px;
}

.intro-overlay .slide .standard-button {
  max-width: 120px;
  margin-top: 20px;
}

.intro-overlay .slide .background-diff {
  background-color: var(--off-blue-a);
  width: 100%;
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.intro-overlay .slide .logo {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

.intro-overlay .slide .main-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.intro-overlay .slide .colour-palette-list {
  display: flex;
  margin-top: 25px;
  margin-bottom: 25px;
}

.intro-overlay .slide .colour-palette-list .palette {
  width: 75px;
  height: 150px;
  border-radius: 10px;
  margin-right: 20px;
  border: 1px solid var(--grey-c);
}

.intro-overlay .slide .colour-palette-list .palette.selected {
  outline: auto;
  outline-color: var(--off-white-a);
  outline-style: double;
  outline-width: 6px;
}

.intro-overlay .slide .colour-palette-list .palette .colour:nth-child(1) {
  width: 100%;
  height: 45%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.intro-overlay .slide .colour-palette-list .palette .colour:nth-child(2) {
  width: 100%;
  height: 35%;
}

.intro-overlay .slide .colour-palette-list .palette .colour:nth-child(3) {
  width: 100%;
  height: 20%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}